*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Gajraj One', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 768px){
    .container{
        width:750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

#btn-up{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 2em;
    color: #008eff;
    display: none;
    cursor: pointer;
    z-index: 99999999;

    
}
#btn-up:hover{
    animation-name: btnup;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes btnup{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
header{
    min-height: calc(10vh + 1px);
    box-shadow: 20px 0 9px 2px rgba(0 0 0 / 40%);
    display: flex;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/*header .container nav{
    line-height: 2.7;
    height: 100%;
    display: flex;
}*/
header .container nav .nav {
    display: flex;

} 
header .container nav .nav > li > a{
    text-decoration: none;
    display: inline-block;
    padding: 33px 15px;
    color: black;
    position: relative;
    transition: 0.7s ;
}
header .container nav .nav > li > a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 5%;
    background-color: #008eff;
    transition: 0.4s;
    visibility: hidden;
}
header .container nav .nav > li:hover{
    color: #008eff;
    background-color: #EEE;
    transition: 0.7s;
}
header .container nav .nav :hover::before{
    visibility: visible;
    width: 100%;
}

.container .logo a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #008eff;
}
.other-link{
    /*display: none;*/
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 86px;
    width: 100%;
    min-height: 349px;
    padding-bottom: 17px;
    border-bottom: 2px solid #008eff;
    background: white;
    z-index: 99;
    visibility: hidden;
}
.other-link img{
    height: 80%;
}
.other-link ul li a{
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color:#008eff   ;
    font-weight: 600;
    font-size: 1.1em;
}
.other-link ul li:not(:last-child){
    border-bottom: 1px solid #80808047;
    padding-bottom: 10px;
}
.other-link ul li{
    position: relative;
}
.other-link ul li::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #EEE;
    z-index: -99;
    transition: 0.7s;
}
.other-link ul li:hover::before{
    width: 100%;
}

header nav .nav .testing1:hover + .other-link{
    visibility: visible;
}
.other-link:hover{
    visibility: visible;
}
@media(max-width:992px){
    .other-link img{
        display: none;
    }
    .other-link{
        flex-wrap: wrap;
    }
}
@media(max-width:768px){
    header .container{
        flex-direction: column;
        justify-content: space-evenly !important;
    }
    header .container nav .nav li a{
        padding: 15px 8px 20px;
    }
    header .container nav .nav > li > a {
        font-size:0.8em ;
    }
}

/*header nav .other:hover + .other-link  li a{
    display: inline-block;
    text-decoration: none;
    color: #008eff;
    transition: 0.7s;
}
header nav .other:hover + .other-link  li{
    margin-bottom: 10px;
    border-bottom: 1px solid #80808047;
}
header nav .other:hover + .other-link  ul:hover
{
    background-color: transparent;
}
header nav .other:hover + .other-link  img:hover{
    background-color: transparent;
}*/


main{
    display: flex !important;
    align-items: center;
    height: calc(90vh - 9px);
    background-color: #c5c5c58f;
    clip-path: polygon(0 0,100% 0, 100% 70%, 0 90%);
    position: relative;
}
main .container{
    display: flex;
    justify-content: space-between;
}
main .container img{
    height: 10%;
    width: 50%;
    transform: translateY(-20%);
    flex-basis: calc(50% - 20px);
    animation: image 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes image{
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-40%);
    }
    100%{
        transform: translateY(-20%);
    }
}

main .container .text{
    flex-basis: 40%;
}
main .container .text p{
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 400;
    color: grey;
}
@media(max-width:992px){
    main .container img{
        display: none;
    }
    main .container {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-basis: 100%;
        transform: translateY(-15%);
    }
}
.arrow-down{
    background-color: transparent;
    position: absolute;
    left: 50%;
    bottom: 10px;
}
.arrow-down a i{
    color:#008eff;
    font-size: 2em;
}

.articles {
    margin-top: 80px;
    position: relative;
    z-index: 99999;
}
#gallery .container{
    padding-top: 50px;
}
.articles .container{
    display: flex;
    justify-content: center;
    height: 100px;
}
/*----------------------------------------------------------------*/
.articles .container .title{
    position: relative;
    border: 2px solid black;
    height: 70px;
    transition-duration: 0.6s;
    }
.articles .container .title:hover{
    border: 2px solid transparent;
    transition-delay: 0.6s;
}

.articles .container .title h4{
    padding: 20px 30px;
    width: fit-content;
    font-size: 1.5em;
    position: relative;
    transition-duration: 0.6s;
}
.articles .container .title h4:hover{
    color: white;
    transition-delay: 0.4s;

}
.articles .container .title::before{
    content: '';
    position: absolute;
    left: -39px;   
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #008eff;
}
.articles .container .title::after{
    content: '';
    position: absolute;
    right: -39px;   
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #008eff;
}

.articles .container .title:hover::before{
    animation: move-bollet 0.7s  linear forwards;
}

.articles .container .title:hover::after{
    animation: move-bollet1 0.7s linear forwards;
    z-index: -1;
}
/*---------------Animation-----------*/
@keyframes move-bollet{
    50%{
        left: 0;
        height: 12px;
        width: 12px;
        border-radius: 50%;

    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes move-bollet1{
    50%{
        right: 0;
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
   
}
/*-----------------------------------*/
/*.articles .container .title h4::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #008eff;
    transition: 0.7s cubic-bezier(0.4, 0, 1, 1);
    transition-delay: 0.3s ; 
    z-index: -5;
}
.articles .container .title h4:hover::before{
    width: 50%;
}
.articles .container .title h4::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: #008eff;
    transition: 0.7s cubic-bezier(0.4, 0, 1, 1);
    transition-delay: 0.3s ; 
    z-index: -5;
}
.articles .container .title h4:hover::after{
    width: 50%;
}*/

/*----------------------------------------------------------------*/



.card-article {
    margin-top: 50px;
}
.card-article .container .box-card{
    /*display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-article .container .box-card .card{
    /*box-shadow: 0px 0px 4px 0 rgba(0 0 0 / 40%);
    transition: 0.3s ease;*/
    flex-basis: calc(25% - 25px);
    box-shadow: 0px 0px 4px 0 rgba(0 0 0 / 40%);
    transition: 0.3s ease;
    margin-bottom: 39px;
}
.card-article .container .box-card .card:hover{
    transform: translateY(-23px);
    box-shadow: 0px 0px 20px 1px rgba(0 0 0 / 40%);
}
@media(max-width:1200px){
    .card-article .container .box-card .card{
        flex-basis: calc(30% - 25px);
    }
}
@media(max-width:992px){
    .card-article .container .box-card .card{
        flex-basis: calc(50% - 25px);
    }
}
@media(max-width:615px){
    .card-article .container .box-card .card{
        flex-basis: 100%;
    }
}
.card-article .container .box-card img{
    height: 180px;
    width: 100%;
}
.card-article .container .box-card .text-content{
    padding: 16px;
    border-bottom: 1px solid #bfbfbf;

}
.card-article .container .box-card .text-content h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card-article .container .box-card .text-content p{
    line-height: 1.5;
    color: gray;
}
.card-article .container .box-card .read-more{
    justify-content: space-between;
    display: flex;
    padding: 16px;
    color:#008eff;
}
.card-article .container .box-card .read-more a{
    text-decoration: none;
    color:#008eff;
    font-weight: 600;
}
@keyframes move-icon{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}
.card-article .container .box-card .card:hover i{
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: move-icon 0.7s linear infinite;
}

.card-box .container{
    /* display: grid; */
    /*grid-template-columns: repeat(3 ,1fr);*/
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 40px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-box .container .card-gallery{
    height: 320px;
    flex-basis: calc(33.33% - 60px);
    /* width: 350px; */
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 0 rgba(0 0 0 /25%);
}
@media(max-width:686px){ 
    .card-box .container {
        justify-content: center;
    }
}
@media(max-width:1200px){ 
    .card-box .container {
        justify-content: space-around;
    }
}
.card-box .container .card-gallery .image{
    overflow: hidden;
    height: 100%;
    position: relative;

}
.card-box .container .card-gallery img{
    height: 100%;
    transition: 0.3s ease;
}

.card-box .container .card-gallery .image:hover > img{
    transform: scale(1.1) rotate(4deg);
}
.card-box .container .card-gallery .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(213 203 203 / 25%);
}
@keyframes flash{
    0%,50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        height: 200%;
        width: 200%;
    }
}
.card-box .container .card-gallery .image:hover::before {
    animation-name: flash;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    z-index: 9999;
    
}
#gallery{
    background-color: #ececec;
}

.card-box{
    /*margin-top: 50px;*/
    padding: 100px 0;
    background-color: #ececec;
}

.features{
    margin-top: 40px;
    margin-bottom: 40px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}
@media(max-width:992px){
    .features .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:768px){
    .features .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.features .container .features-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 1px 1px 1px 0 rgba(0 0 0 /25%);
}

.features .container .features-cards .image::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.features .container .card1 .image::before{
    background-color: #ff000069
}
.features .container .card2 .image::before{
    background-color: rgb(0 128 128 / 58%)
}
.features .container .card3 .image::before{
    background-color: #00bcd4b5;
}
.features .container .image{
   clip-path: polygon(0 0,100% 0,100% 60%,0 99%);
    transition: 0.4s ;
    position: relative;
}
/* .features .container .image::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
    left: 0;
    border-width: 10px;
    border-style: solid;
    border-color: red blue yellow green;
} */
.features .container .features-cards:hover > .image{
    clip-path: polygon(0 0,100% 0,100% 99%,0 60%);
}

.features .container .features-cards .image img{
    width: 100%
}
.features .container .features-cards .features-text{
    text-align: center;
}
.features .container .features-cards h3{
    position: relative;
    font-size: 2em;
    margin: 30px 0 40px;
}
.features .container .features-cards h3::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 4px;
    width: 100%;
}
.card1 h3::before{
    background-color: red;
}
.card2 h3::before{
    background-color: rgb(0, 128, 128);
}
.card3 h3::before{
    background-color: #00BCD4;
}
.features .container .features-cards p{
    margin: 0 30px;
    text-align: center;
    line-height: 2;
    color: grey;
}
.features .container .features-cards a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    padding: 11px 30px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    transition: 0.2s linear;
    z-index: 99;
}
.card1 a{
    color: red;
    border: 3px solid red;
}
.card2 a{
    color: rgb(0, 128, 128);
    border: 3px solid rgb(0, 128, 128);
}
.card3 a{
    color: #00BCD4;
    border: 3px solid #00BCD4;
}

.features .container .features-cards a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: 0.2s linear;
    z-index: -99;
}
.features .container .card1 a::before{
    background-color: red;
}
.features .container .card2 a::before{
    background-color: rgb(0, 128, 128);
}
.features .container .card3 a::before{
    background-color: #00BCD4;
}
.features .container .features-cards:hover > a::before{
    width: 100%;
}
.features .container .features-cards:hover > a{
    color: white;
}
.testi{
    background-color: #ececec;
    margin-top: 160px;
    padding-top: 50px;
}
.testimonials{
    background-color: #ececec;
    padding-bottom: 60px;
}
.testimonials .container{
    /*display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    padding-top: 94px;
}
@media(max-width:992px){
    .testimonials .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:768px){
    .testimonials .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.testimonials .container .testimonials-card{
    /*flex-basis: calc(33.33% - 60px);*/
    background-color: white;
    box-shadow: -1px 5px 10px 0 rgba(0 0 0/15%);
    position: relative;
    /*margin-right: 20px;*/
    margin-bottom: 40px;
}
.testimonials .container .testimonials-card::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ececec;
    top: -60px;
    right: -10px;
}
.testimonials .container .testimonials-card img{
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -50px;
    height: 80px;
}
.testimonials .container .testimonials-card .testimonials-content{
    padding: 20px;
}
.testimonials .container .testimonials-card .testimonials-content p{
    color: grey;
    line-height: 1.4;
    margin: 10px 0 0;
    font-weight: 300;
}
.icon{
    margin-top: 10px;
}

.team .container{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.team .team-box{
    display: flex;
    position: relative;
    min-height: 420px;
    transition: 0.3s;
}
@media(min-width:992px){
    .team-box{
        flex-basis: calc(33.33% - 60px) ;
    }
}
@media(max-width:992px){
    .team-box{
        flex: 1;
        flex-basis: calc(50% - 60px);
    }
}
@media(max-width:676px){
    .team-box{
        flex-basis: 100%;
    }
}
.team-box:hover .image{
    filter: grayscale(1);
}
.team-box:hover .team-text{
    filter: grayscale(1);
}
.team .team-box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    background-color: #afabab38;
    border-radius: 15px;
    transition: 0.3s;
    z-index: 99;
}
.team .team-box:hover::before{
    width: 80%;
}
.team .team-box img{
    max-width: 100%;
    border-radius: 15px;
}
.team-box .image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: calc(80% + 20px);
    height: 80%;
    z-index: 991;
}
@media(max-width:676px){
    .team-box .image{
        top: calc(50% - 30px);
    }
    .team-box img{
        width: 100%;
        height: 100%;
    }
}
.team-box .team-content{
    height: 100%;
    width: 80%;
    margin-left: auto;
    background-color: #EEE;
    position: relative;
    border-radius: 15px;
}
.team-box .team-content .icons-team{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

.icons-team a{
    font-size: 1.2em;
    padding: 10px;
    color: #636262;
    transition: 0.3s;
}
.icons-team a:hover{
    color: #008eff;
}
.team-box .team-content .team-text{
    position: absolute;
    padding: 0 20px 20px;
    bottom: 0;
    font-weight: 300;
}
.team-text h2{
    font-weight: 600;
    margin-bottom: 8px;
    color: #008eff;
}
#services{
    background-color: #ececec;
    padding-top: 80px ;
}
.services{
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #ececec;
}
.services .container{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
@media(min-width:991px){
    .services .container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:991px){
    .services .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:676px){
    .services .container{
        grid-template-columns: repeat(1,1fr);
    }
}
.service-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-shadow: 1px 1px 10px rgba(0 0 0/15%);
    position: relative;
    transition: 0.5s;

}
.service-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 0;
    background-color: #008eff;
    transition: 0.5s;
}
.service-box:hover::before{
    width: 100%;
}
.service-box:hover{
    transform: translateY(-20px);
}
.service-box i{
    color: #bfbfbf;
    font-size: 4em;
    margin-top: 20px;
}
.service-box h2{
    font-size: 1.9em;
    color: #008eff;
    margin: 30px 0;
}
.service-box .details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    overflow: hidden;
    background-color: #f9f9f9;
}
.service-box .details a{
    text-decoration: none;
    color:#008eff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-box .details h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    z-index: 99;
    position: relative;
}   
.service-box .details h3::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: #008eff;
    transform: skewX(327deg);
    z-index: -1;
}
.service-box .details h3::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: #bfbfbf7d;
    transform: skewX(327deg);
    z-index: -2;
}
.skills{
    padding-top: 80px;
    padding-bottom: 80px;
}
.skills .container{
    display: flex;
    justify-content: space-between;
}
@media(max-width:991px){
    .skills .container img{
        display: none;
    }
}
.skills-info{
    flex: 1;
}
.skills-info h2{
    font-size: 1.3em;
    font-weight: 500;
}
.skills-info .bar .progress{
    width: 100%;
    height: 33px;
    background-color: #ececec;
    margin: 20px 0;
    position: relative;

}
.skills-info .bar .progress::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #008eff;
    transition: 0.7s;
}
.skills-info .bar:nth-of-type(1) .progress::before{
    width: 0%;
}
.skills-info .bar:nth-of-type(1) .progress.progress2::before{
    width: 80%;
}
.skills-info .bar:nth-of-type(2) .progress::before{
    width: 0%;
}
.skills-info .bar:nth-of-type(2) .progress.progress2::before{
    width: 85%;
}
.skills-info .bar:nth-of-type(3) .progress::before{
    width: 0%;
}
.skills-info .bar:nth-of-type(3) .progress.progress2::before{
    width: 70%;
}
.skills-info .bar:nth-of-type(4) .progress::before{
    width: 0%;
}
.skills-info .bar:nth-of-type(4) .progress.progress2::before{
    width: 80%;
}
.skills-info .bar:nth-of-type(1) .progress::after{
    content: "80%";
}
.skills-info .bar:nth-of-type(2) .progress::after{
    content: "85%";
}
.skills-info .bar:nth-of-type(3) .progress::after{
    content: "70%";
}
.skills-info .bar:nth-of-type(4) .progress::after{
    content: "80%";
}
.skills-info .bar .progress::after{
    position: absolute;
    top: -40px;
    right: 0;
    height: 25px;
    width: 35px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#008eff;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 8px;
}
#works{
    background-color: #ececec;
    padding-top: 80px;
    padding-bottom: 80px;
}
.works{
    background-color: #ececec;
    padding-bottom: 80px;
}
.works .container{
    display: flex;
    align-items: center;
    gap: 60px;
}
@media(max-width:991px){
    .works .container{
        flex-direction: column;
    }
}

.works .container .work-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.work-content{
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 35px;
    gap: 30px;
    background-color: #f6f5f5;
    position: relative;
    z-index: 1;
}

.work-content::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 0;
    width: 0;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}
.work-content:hover::before{
    height: 100%;
    width: 100%;
}
.work-content img{
    height: 70px;
}
.work-content .work-text h2{
    margin-bottom: 10px;
}
.work-content .work-text p{
    line-height: 2;
    color: #777;
}
@media(min-width:768px){
    .works .container .work-content{
        flex-direction: row;
        
    }
}
@media(max-width:768px){
    .works .container .work-content{
        flex-direction: column;
        text-align: center;
    }
}
@media(max-width:514px){
    .works .container > img{
        width: 100%;
    }
}

.events{
    padding-bottom: 80px;
    position: relative;
}
.events .img1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.events .img2{
    position: absolute;
    bottom: 15%;
    left: 0;
    z-index: -2;
}
.events .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.events .container .image {
    flex-basis: calc(40% - 20px);
}
.events .container .image img{
    max-width: 100%;
}

.events .container .event-content{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    align-items: center;
}
@media(max-width:991px){
    .events .container .image{
        display: none;
    }
    .events .container{
        justify-content: center;
    }
    .events .container .event-content{
        flex-basis: 80%;
    }
}
.events .container .event-content .event-date{
    display: flex;
}
.events .container .event-content .event-date h3{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #777;
    color: #008eff;
    font-size: 2.3em;
    font-weight: 500;
    transition: 0.5s;
}
.events .container .event-content .event-date .box-date:hover h3{
    border-color: #008eff;
}
.event-date span{
    font-weight: 200;
    font-size: 1em;
}
.event-content .event-date .box-date{
    border: 1px solid #777;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    /* padding: 20px 10px; */
    height: 130px;
    width: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}
.event-content .event-date .box-date:hover{
    border-color: #008eff;
}
.event-content h2{ 
    margin: 15px 0;
}
.event-content p{
    line-height: 1.5;
    color: grey;
}
.events .container .inp{
    width: 100%;
    margin-top: 45px;
}
.events .container form{
    display: flex;
    gap: 50px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 35px;
    background-color: #f6f5f5;
    padding: 25px 60px 25px 40px;
}
.events .container form input[type="email"]{
    border: none;
    border-radius: 25px;
    padding: 15px 159px 15px 15px;
    caret-color: #008eff;
}
.events .container form input[type="email"]:focus{
    outline: none;
}
.events .container form input[type="email"]::placeholder{
    font-size: 1.1em;
    transition: 0.3s;
}
.events .container form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.events .container form input[type="submit"]{
    border: none;
    color: white;
    background-color: #008eff;
    padding: 15px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.7s;
    cursor: pointer;
}
.events .container form input[type="submit"]:hover{
    background-color: #118ae9;
}
@media(max-width:768px){
    .events .container form{
        flex-direction: column;
        width: 100%;
    }
    .events .container form input[type="email"]{
        padding-right: 0;
    }
}
#pricing{
    background-color: #ececec;
    padding: 50px 0;
}
.pricing{
    background-color: #ececec;
    padding-bottom: 80px;
    position: relative;
}
.pricing .img1{
    position: absolute;
    top: 0;
    right: 0;
}
.pricing .img2{
    position: absolute;
    bottom: 20%;
    left: 0;
}
.pricing .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 30px;
}
.pricing .container .pricing-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(33.33% - 20px);
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0 0 0/15%);
    position: relative;
    z-index: 1;
}

.prime{
    transform: translateY(-20px);
    position: relative;
}
@media(max-width:991px){
    .pricing .container .pricing-box{
        flex-basis: calc(50% - 20px);
    }
    .prime{
        transform: translateY(0);
    }
}

@media(max-width:768px){
    .pricing .container .pricing-box{
        flex-basis: 100%;
    }
    .prime{
        transform: translateX(0);
    }
}
.pricing .container .pricing-box::before{
    content: '';
    position: absolute;
    height: 50%;
    width: 0;
    left: 0;
    top: 0;
    background-color: #f6f6f6;
    transition: 0.3s;
    z-index: -2;
}
.pricing .container .pricing-box::after{
    content: '';
    position: absolute;
    height: 50%;
    width: 0;
    right: 0;
    top: 50%;
    background-color: #f6f6f6;
    transition: 0.3s;
    z-index: -3;
}
.pricing .container .pricing-box:hover::before,
.pricing .container .pricing-box:hover::after
{
    width: 100%;
}
.ticket{
    position: absolute;
    top: 54px;
    right: -33px;
    background-color: #008eff;
    color: white;
    font-weight: 600;
    display: block;
    padding: 10px 30px 10px 10px;
    transform: rotate(90deg);
    z-index: 999999;
}
.ticket::before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
    border-color: transparent white transparent transparent;
}
.pricing-info{
    width: 100%;
    margin-top: 30px;
}
.pricing-info li{
    padding: 25px ;
    padding-right: 0;
    border-top: 2px solid #ececec;
}

.pricing-info li i{
    margin-right: 10px;
    color:#008eff;
}
.pricing-box img{
    width: 40%;
    margin-top: 30px;
}
.pricing-box h1{
    color: #008eff;
    margin-bottom: 0;
    font-size: 4em;
}
.pricing-box span{
    color: grey;
}
.pricing-box a{
    text-decoration: none;
    display: block;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #008eff;
    color: #008eff;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 30px;
    transition: 0.7s;
}
.pricing-box a:hover{
    color: white;
    background-color: #008eff;
}
#videos{
    padding-top: 50px;
}
.videos{
    padding-bottom: 80px;
    padding-top: 50px;
}

.videos .container{
    display: flex;
}
@media(max-width:991px){
    .videos .container{
        flex-direction: column;
    }
}
.videos-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    background-color: #e2e2e2;
}
.videos-content img{
    width: 100%;
}
.videos-content p{
    background-color: white;
    padding: 20px;
}
.videos-listes{
    flex-basis: 30%;
    border: 1px solid  #e2e2e2;
}
.videos-listes li{
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
}
.videos-listes li:not(:first-child){
    cursor: pointer;
    transition: 0.3s;
}
.videos-listes li p{
    transition: 0.3s;
}
.videos-listes li:not(:first-child):hover p{
    color:#008eff;
}
.videos-listes li:not(:first-child):hover{
    background-color: rgb(226 226 226 / 40%);
}
.videos-listes li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #f4f4f4;
}
.videos-listes li span{
    display: block;
    color: grey;
    margin-top: 5px;
}

.stats{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(stats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
}
.stats::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 92%);
    top: 0;
    left: 0;
    z-index: -1;
}
.stats .title{
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 50px;
}
.stats .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.stats-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(25% - 15px);
    background-color: white;
    padding: 20px 0;
    position: relative;
}
.stats-box::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px;
    background-color: #008eff;
    transition: 1s;
}
.stats-box::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 2px;
    background-color: #008eff;
    transition: 0.7s;
}
.stats-box:hover::before,
.stats-box:hover::after{
    height: 100%;
}
.stats-box i{
    font-size: 1.8em;
    opacity: 0.8;
    transition: 1s;
}
.stats-box h3{
    margin: 20px 0;
    font-size: 2.3em;
    opacity: 0.8;
    transition: 1s;
}
.stats-box:hover i,
.stats-box:hover h3{
    opacity: 1;
}
.stats-box span{
    color: #008eff;
    font-style: italic;
    font-weight: 500;
    font-size: 1.1em;
    opacity: 0.8;
}
.stats-box:hover i,
.stats-box:hover h3,
.stats-box:hover span
{
    opacity: 1;
}
@media(max-width:991px){
    .stats-box{
        flex-basis: calc(50% - 15px);
    }
}
@media(max-width:768px){
    .stats-box{
        flex-basis: 100%;
    }
}

.discount{
    display: flex;
}
@media(max-width:991px){
    .discount{
        flex-direction: column;
    }
}
.discount .discount-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    padding: 100px;
    text-align: center;
    position: relative;
    animation-name: background-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -2;
}
.discount .discount-text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 142 255 / 0.98);
    z-index: -1;
}
@keyframes background-change{
    0%{
        background-image: url(../img/discount-background1.jpg);
    }
    50%{
        background-image: url(../img/discount-background2.jpg);
    }
    100%{
        background-image: url(../img/discount-background1.jpg);
    }
}
@media(max-width:768px){
    .discount .discount-text{
        padding: 100px 15px;
    }
}
.discount-text h2{
    color: white;
    font-size: 2em;
}
.discount-text p{
    margin: 30px 0;
    line-height: 1.5;
    color: white;
    font-size: 1.1em;
}
.discount-text img{
    width: 50%;
}






.discount .discount-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}
.discount .discount-login form{
    display: flex;
    flex-direction: column;
}
.discount-login h2{
    margin: 100px 0 20px;
    font-size: 2em;
}
.discount-login form input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    caret-color: #008eff;
    position: relative;
    transition: 0.7s;
}

.discount-login form input.fail-animation,
.discount-login form input.fail{
    animation-name: fail;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    border-bottom: 1px solid #f44336;
}
@keyframes fail{
    0%{
        transform: translateX(7px);
    }
    50%{
        transform: translateX(-7px);
    }
    80%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(0);
    }
}
.discount-login form input.succes{
    border-bottom: 1px solid #22c55e;
}
.discount-login form input:nth-of-type(4){
    padding: 15px 15px 150px 15px;
}
.discount-login form input[type="submit"]{
    border: none;
    background-color: #008eff;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
.discount-login form input:focus{
    outline: none;
}
footer{
    background-color: #191919;
    padding-top: 100px;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* display: flex; */
    /* justify-content: center; */
    align-items: flex-start;
    /* flex-wrap: wrap; */
    color: white;
    gap: 30px;
}
@media(max-width:1200px){
    footer .container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:991px){
    footer .container{
        grid-template-columns: repeat(2,1fr);
    }
}
.social-icons{
    display: flex;
    flex-direction: column;
}
.social-icons h1{
    margin-top: 0;
    color: white;
}
.social-icons .icons i{
    color: white;
    font-size: 1.3em;
    margin-right: 10px;
    padding: 15px;
    background-color: #313131;
    cursor: pointer;
    transition: 0.5s;
}

.social-icons .icons i:first-child:hover{
    background-color: #1877f2;
}
.social-icons .icons i:nth-of-type(2):hover{
    background-color: #1da1f2;
}
.social-icons .icons i:nth-of-type(3):hover{
    background-color: #ff0000;
}
.social-icons p{
    color: #c1bcbc;
    margin-top: 25px;
    line-height: 1.5;
}
.links{
    display: flex;
    flex-direction: column;
}
.links li:not(:last-child){
    border-bottom: 1px solid #313131;
    margin-bottom: 10px;
}
.links li a{
    text-decoration: none;
    color: #c1bcbc;
    padding-bottom: 15px;
    display: block;
    transition: 0.7s;
}
.links li a i{
    margin-right: 10px;
    color: #008eff;
}
.links li:hover a{
    transform: translateX(20px);
    color: white;
}

.footer-information{
    display: flex;
    flex-direction: column;
}
.footer-information .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}
.footer-information .info span{
    color: #c1bcbc;
    /* font-weight: 300; */
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1.5;
}
.footer-information .info i{
    color:#008eff;
    font-size: 1.5em;
}
.footer-img{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.footer-img img{
    width: calc(33.33% - 7px);
    border: 2px solid white;
}
footer .autour{
    text-align: center;
    color: white;
    padding: 20px 0;
    margin-top: 70px;
    border-top: 1px solid rgb(193 188 188 / 40%);
}

@media(max-width:768px){
    .social-icons{
        
        
        align-items: center;
        text-align: center;
    }
    .links li{
        width: 100%;
        text-align: center;
    }
    .footer-information .info{
        flex-direction: column;
        text-align: center;
    }

}
@media(max-width:586px){
    footer .container{
        grid-template-columns: 1fr;
    }
}